##
## Roughly follows the Linux Kernel coding guidelines, interpreting them for C++.
##
## https://www.kernel.org/doc/html/latest/process/coding-style.html
##

Language: Cpp
Standard: Latest

# The LLVM style comes pretty close by default
BasedOnStyle: LLVM
ColumnLimit: 100

# Always use 8 character wide tabs for indentation.
AccessModifierOffset: -8
ConstructorInitializerIndentWidth: 8
ContinuationIndentWidth: 8
IndentWidth: 8
TabWidth: 8
UseTab: Always

# Put braces on the same line for every statement except for functions.
BreakBeforeBraces: WebKit

# Dont add unneccessary breaks, stay on the same line
AllowAllParametersOfDeclarationOnNextLine: false
AlwaysBreakTemplateDeclarations: true
BreakStringLiterals: false

# Except for functions
AllowShortFunctionsOnASingleLine: None

# Don't allow empty lines at the start of a block.
KeepEmptyLinesAtTheStartOfBlocks: false

# Don't add spaces to beginning and end of initializer lists.
SpacesInContainerLiterals: false

# Make goto labels stand out.
IndentGotoLabels: false

# Don't waste space by aligning at the rightmost column.
AlignEscapedNewlines: Left

# Don't align variables.
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false

# Linux: Don't align macros and comments
# AlignConsecutiveMacros: false
# AlignTrailingComments: false

# Custom: Align macros and comments
AlignConsecutiveMacros: true
AlignTrailingComments: true

# Linux: Don't touch include statements, usings or comments.
# IncludeBlocks: Preserve
# ReflowComments: false
# SortIncludes: Never
# SortUsingDeclarations: false

# Custom: Automatically format comments, includes and using statements.
IncludeBlocks: Regroup
ReflowComments: true
SortIncludes: CaseSensitive
SortUsingDeclarations: true

# Linux: Pack function signatures as much as possible to not waste lines.
# PackConstructorInitializers: BinPack
# BinPackParameters: true

# Custom: Disable packing to improve readability of very long signatures.
BinPackParameters: false
PackConstructorInitializers: CurrentLine

BreakConstructorInitializers: BeforeComma
BreakBeforeTernaryOperators: false
SpaceBeforeCpp11BracedList: true

##
## Settings for this project.
##

IncludeCategories:
  - Regex: '^".+"$'
    Priority: 1
  - Regex: '^<(common|contacts|core|hid|ipts)/.+>$'
    Priority: 2
  - Regex: '^<(gsl|Eigen|spdlog|fmt|cairomm|CLI)/.+>$'
    Priority: 3
  - Regex: '^<(INIReader.h|SDL.h)>$'
    Priority: 3
  - Regex: '^<(linux|sys)/.+>$'
    Priority: 4
