{
	"WarningsAsErrors": "*",
	"Checks": [
		"bugprone-*",
		"-bugprone-easily-swappable-parameters",
		"cert-*",
		"clang-analyzer-*",
		"cppcoreguidelines-*",
		"-cppcoreguidelines-avoid-magic-numbers",
		"-cppcoreguidelines-special-member-functions",
		"misc-*",
		"-misc-no-recursion",
		"-misc-include-cleaner",
		"-*-non-private-member-variables-in-classes",
		"modernize-*",
		"-modernize-use-trailing-return-type",
		"performance-*",
		"readability-*",
		"-readability-magic-numbers",
		"-readability-identifier-length",
		"-readability-redundant-access-specifiers",
		"-readability-function-cognitive-complexity",
		"-readability-braces-around-statements",
		"-readability-redundant-member-init",
	],
	"HeaderFilterRegex": "src/.*hpp",
	"FormatStyle": "file",
	"CheckOptions": {
		"bugprone-empty-catch.IgnoreCatchWithKeywords": "ignored",
	},
}
