Checks: 'bugprone-*, -bugprone-easily-swappable-parameters, -bugprone-exception-escape, cert-*, clang-analyzer-*, -clang-analyzer-osx*, cppcoreguidelines-*, -cppcoreguidelines-avoid-magic-numbers, -cppcoreguidelines-non-private-member-variables-in-classes, -cppcoreguidelines-special-member-functions, modernize-*, -modernize-use-trailing-return-type, performance-*'
HeaderFilterRegex: 'src/.*hpp'
FormatStyle: file
