iptsd
debian
build/*
subprojects/
!subprojects/*.wrap

.cache
compile_commands.json

pkg/*
!pkg/fedora/iptsd.spec
!pkg/arch/PKGBUILD
!pkg/debian/changelog
!pkg/debian/compat
!pkg/debian/control
!pkg/debian/rules
