build/
subprojects/
out/

!subprojects/*.wrap

.cache
compile_commands.json

rpm/
pkg/
debian/.debhelper/
debian/debhelper-*
debian/files
debian/iptsd.*
debian/iptsd/
debian/src/
obj-x86_64-linux-gnu/
x86_64-redhat-linux-gnu/

*.tar
*.tar.*
*.buildinfo
*.changes
*.deb
*.dsc
*.rpm
