Source: iptsd
Section: misc
Priority: optional
Maintainer: Dorian Stoll <dorian.stoll@tmsp.io>
Build-Depends: build-essential, debhelper (>= 10), golang-go

Package: iptsd
Architecture: amd64
Depends: systemd, udev
Description: Userspace daemon for Intel Precise Touch & Stylus
