SUBSYSTEM=="hidraw", DRIVERS=="ipts", TAG+="systemd", \
    PROGRAM="/bin/systemd-escape --path $env{DEVNAME}" \
    ENV{SYSTEMD_WANTS}+="iptsd@$result.service"

SUBSYSTEM=="hidraw", DRIVERS=="ithc", TAG+="systemd", \
    PROGRAM="/bin/systemd-escape --path $env{DEVNAME}" \
    ENV{SYSTEMD_WANTS}+="iptsd@$result.service"

SUBSYSTEM=="hidraw", DRIVERS=="spi_hid", TAG+="systemd", \
    PROGRAM="/bin/systemd-escape --path $env{DEVNAME}" \
    ENV{SYSTEMD_WANTS}+="iptsd@$result.service"
