DRIVER=="hid-multitouch", DRIVERS=="ipts", TAG+="iptsd"
DRIVER=="hid-generic", DRIVERS=="ithc", TAG+="iptsd"
DRIVER=="hid-generic", DRIVERS=="spi_hid", TAG+="iptsd"

SUBSYSTEM=="hidraw", ACTION=="add", TAGS=="iptsd", TAG+="systemd", \
    PROGRAM="/bin/systemd-escape --path $env{DEVNAME}" \
    ENV{SYSTEMD_WANTS}+="iptsd@$result.service"
