Source: iptsd
Section: misc
Priority: optional
Maintainer: Dorian Stoll <dorian.stoll@tmsp.io>
Build-Depends:
 build-essential,
 debhelper (>= 10),
 libinih-dev,
 meson,
 pkg-config,
 systemd,
 udev

Package: iptsd
Architecture: amd64
Depends: systemd, udev, libinih
Description: Userspace daemon for Intel Precise Touch & Stylus
