Source: iptsd
Section: misc
Priority: optional
Maintainer: Dorian Stoll <dorian.stoll@tmsp.io>
Build-Depends:
 build-essential,
 clang-13,
 debhelper-compat (= 12),
 meson,
 pkg-config,
 libcairomm-1.0-dev,
 systemd,
 udev

Package: iptsd
Architecture: amd64
Depends: systemd, udev, ${shlibs:Depends}, ${misc:Depends}
Description: Userspace daemon for Intel Precise Touch & Stylus
