#!/usr/bin/make -f

export DH_VERBOSE=1


INIT :=$(shell ps --no-headers -o comm 1)

ifeq ($(INIT), init)
CONFFLAGS += \
	-Dservice_manager=openrc
else
CONFFLAGS += \
	-Dservice_manager=systemd
endif

override_dh_auto_configure:
	dh_auto_configure -- $(CONFFLAGS)

override_dh_strip:
	dh_strip --no-automatic-dbgsym

%:
	dh $@

