[Unit]
Description=Intel Precise Touch & Stylus Daemon
Documentation=https://github.com/linux-surface/iptsd
After=dev-ipts-0.device
Wants=dev-ipts-0.device

[Service]
Type=simple
ExecStart=/usr/bin/iptsd

[Install]
WantedBy=multi-user.target
